@import '../../styles/mixins.less';
@import '../../styles/variables.less';

.robot-text-default{
    font-size: @defaut-font-size;
}
.robot-text-small{
    font-size: @small-font-size;
}
.robot-text-large{
    font-size: @large-font-size;
}