@import '../../styles/mixins.less';
@import '../../styles/variables.less';
@namespace: robot-list;

.@{namespace} {
	&-body {
		padding: 10px;
		align-self: flex-start;
		width: 100%;
	}
	&-card{
		.robot-msg-wrapper();
		display: flex;
		flex-direction: column;
	}
	&-title {
		width: 100%;
		height: 36px;
		line-height: 36px;
		text-align: center;
		color: #111;
		border-bottom: 1px solid #E6E6E6;
	}
	&-footer {
		display: flex;
		align-items: center;
		height: 40px;
		border-top: 1px solid #E6E6E6;
		& > span {
		display: inline-flex;
		justify-content: center;
		position: relative;
		flex: 0 0 50%;
		cursor: pointer;
		}
		& > span:first-child {
		color: #47BAEE;
		&::after {
			content: "";
			position: absolute;
			width: 1px;
			height: 15px;
			background: #E6E6E6;
			top: 0;
			right: 0;
		}
		}
	}
	&-option {
		display: flex;
		height: 36px;
		color: #2A3038;
		font-size: 12px;
		align-items: center;
		& > div {
		width: 100%;
		line-height: 36px;
		margin-left: 6px;
		border-bottom: 1px solid #E2E2E2;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		}
	}
	&-option:last-child {
		& > div {
		border-bottom: none;
		}
	}
	&-button {
		padding: 12px;
		margin: 10px 0 0 10px;
		border-radius: 4px;
		align-self: flex-start;
		border: 1px solid #ddd;
		background: #fff;
		cursor: pointer;
		&:hover {
		background: #ddd;
		}
	}
	&-default{
		.@{namespace}-title{
			font-size: @default-font-size;
		}
	}
	&-small{
		.@{namespace}-title{
			font-size: @small-font-size;
		}
	}
	&-large{
		.@{namespace}-title{
			font-size: @large-font-size;
		}
	}
}