@primary-white: #ffffff;
@primary-balck: #000000;
@primary-blue: #588CE9;
@primary-gray: #888;

@primary-text: #111;

@hover-blue: #8dbbf5;
// 文字大小
@small-font-size: 12px;
@defaut-font-size: 14px;
@large-font-size: 16px;


// 图标大小
@small-img-icon-radius: 4px; 
@small-img-icon-width: 18px; 
@small-img-icon-height: 18px; 

@defaut-img-icon-radius: 4px;
@defaut-img-icon-width: 22px; 
@defaut-img-icon-height: 22px; 

@large-img-icon-radius: 4px;
@large-img-icon-width: 26px; 
@large-img-icon-height: 26px;

// 行高
@small-column-height: 30px; 
@default-column-height: 36px; 
@large-column-height: 42px; 